{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}

{# inlude navbar #}
{% include 'navbar.html.twig' %}

<div class="Tabl">
    <h1>Mon Compte</h1>
    {% if app.user and ('ROLE_ADMIN' in app.user.roles ? app.user.roles|json_encode : '') %}
    <a class="text-decoration-none" href="">
        <div class="jumbotron shadow">
            <p class="lead">{{ app.user.email }}</p>
            <hr class="my-4">
            <p>IBAN : </p>
            <p>SOLDE : <span class="text-bold"></span></p>
        </div>
    </a>
    {% else %}
    <div class="text-center">
        <p>Il y a aucun compte à votre nom, <a class="h5" href="{{ path('compte_new')}}">créer en un des maintenant</a></p>
    </div>
    {% endif %}
</div>
{% endblock %}
