{% extends 'base.html.twig' %}

{% block title %}Modifier Utilisateur{% endblock %}

{% block body %}

{# inlude navbar #}
{% include 'navbar.html.twig' %}

<h1>Modifier</h1>
{{ form(form) }}


{% endblock body %}
