{% extends 'base.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block body %}

{# inlude navbar #}
{% include 'navbar.html.twig' %}

<h1>Nouvel Utilisateur</h1>
{{ form(form) }}


{% endblock body %}
